tempMonCloud.json
[{"id":"10c7b8c7.292a2f","type":"tab","readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf","label":"Flow 1"},{"id":"122efadc.6f01ed","type":"debug","z":"10c7b8c7.292a2f","name":"","active":true,"console":"false","xaxis":"_time","complete":"payload","x":930,"y":380,"wires":[],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"dd3d7b48.7865b","type":"function","z":"10c7b8c7.292a2f","name":"Isola a última temperatura recebida","func":"msg.payload = msg.payload[msg.payload.length -1]\nmsg.payload = msg.payload.Temperatura\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":660,"y":300,"wires":[["122efadc.6f01ed","c9cf1cd.a53efe"]],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"4cab90e7.878058","type":"inject","z":"10c7b8c7.292a2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","repeatEnd":"3600","endTime":"1655565114235","crontab":"","offset":"","once":true,"properties":"","timezone":"utc","betweentimesunit":"m","enableRuleEngine":false,"showNextExecution":false,"powerMode":false,"x":163,"y":141,"wires":[["9763cf87.110bc"]],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"9763cf87.110bc","type":"read timeseries","z":"10c7b8c7.292a2f","name":"Lê variável temp. do Ativo Sensor 1","topic":"efac700256f24d2289a3871e67a793b7/Temperatura/Temperatura","topicLabel":"sensor1/Temperatura/Temperatura","topicData":"{\"asset\":\"efac700256f24d2289a3871e67a793b7\",\"assetName\":\"sensor1\",\"aspects\":[{\"aspectId\":\"b634a77feb5e4b65b497f6f8855adaeb\",\"aspectName\":\"Temperatura\",\"variables\":[{\"variableId\":\"qc9692843d474e\",\"name\":\"Temperatura\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"relative","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":380,"y":200,"wires":[["651d6215.33a854","dd3d7b48.7865b"]],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"651d6215.33a854","type":"ui_chart","z":"10c7b8c7.292a2f","name":"Gráfico de Linha","group":"2a5f0ee5.427212","order":0,"width":0,"singleBrowser":false,"height":0,"label":"Evolução Temporal","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":200,"wires":[[]],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"c9cf1cd.a53efe","type":"ui_gauge","z":"10c7b8c7.292a2f","name":"Gauge","group":"2a5f0ee5.427212","order":0,"width":0,"singleBrowser":false,"height":0,"gtype":"gage","title":"Temperatura Atual","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":970,"y":300,"wires":[],"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf"},{"id":"2a5f0ee5.427212","type":"ui_group","z":"","name":"Sensor 1","tab":"cbeb8bde.86f72","order":1,"disp":true,"width":"15","collapse":true,"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf","_type":"config"},{"id":"cbeb8bde.86f72","type":"ui_tab","z":"","name":"Monitoramento de Temperatura","icon":"dashboard","publicAccess":"false","fmAccess":"none","fmAccessType":"private","assetType":"","asset":"","assetName":"","assetText":"","image":"","description":"","hideTitleBar":false,"readOnly":false,"userName":"leandro.aumada@siemens.com","tenant":"iiotimhf","_type":"config"}]